@model Algan.WebUi.Models.FooterModel
<div class="row m-0 ">
    <div class="col-12 text-center">
        <div class="row align-items-center">
            <div class="col-2 text-end ">
                <img class="img-fluid" src="~/img/@Model.LogoUrl" alt="">
            </div>
            <div class="col-8 ">
                <div class="row">
                    <div class="col-12 mt-3 " >
                        <a href="@Model.InstagramLink"><i class="fab fa-instagram footerIcon fa-2x"></i></a>
                        <a href="@Model.LinkedinLink"><i class="fab fa-linkedin footerIcon fa-2x"></i></a>
                        <a href="@Model.TwitterLink"><i class="fab fa-twitter footerIcon fa-2x"></i></a>
                        <a href="@Model.YoutubeLink"><i class="fab fa-youtube footerIcon fa-2x"></i></a>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 my-1 ">
                                <i class="far fa-envelope footerYazi">@Model.Mail</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 my-1">
                                <i class="fas fa-map-marker-alt footerYazi">@Model.Adress</i>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 text-center mt-5 "> 
                <a href="/home/aboutus" ><h5>Hakkımızda</h5></a>   
                <a href="/home/contact"><h5>İletişim</h5></a>
                <a href="/home/project"><h5>Projelerimiz</h5></a>
            </div>
            <br class="">
                <h5>
                    <span>@DateTime.Now.Year | © Tüm Hakları Saklıdır | @Model.CompanyName<br/></span>
                </h5>
    </div> 
</div>

